.vscode/**
.vscode-test/**
test/**
.gitignore
.git/**
.github/**
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/*.vsix
node_modules/**
.dockerignore
Dockerfile
create-icon.html
.editorconfig
.prettierrc
*.log
